@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";


*{

  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: 100 200 300 ; */
  font-style: normal;
}

